.contacto{
    display: flex;
    gap: 25px;
    /* justify-content: space-between; */
}

.contacto section{
    width: 100%;
}

.datos p{
    font-size: 14px;
}

.datos ul li{
    font-size: 13px;
}

.formulario p{
    display: flex;
}

.formulario  p label{
    min-width: 80px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea{
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px;
}

.formulario textarea{
    resize: none;
    height: 150px;
}

.formulario p:nth-child(4){
    align-items: start;
}


.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px gray;
    color: white;
    font-size: 16px;
    width: auto;
    margin-left:80px; 
    transition: all 0.2s ease;
    cursor: pointer;
    /* position: relative;
    left: 80px; */
}

.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
}